@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  height: 100vh;
  background-image: url(img/wavebackground.jpeg);
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
  .site-heading {
    font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 28px;
  font-style: normal;
  }

  
  a{
    text-align: center;
    text-decoration: none;
  }
  
  input[type = text]{
    font-size : 1em;
    font-style: normal;
    text-align: center;
  }

  ul {
    color: black;
    justify-content: right;
    /* font-size: small; */
    list-style-type: none;
    display: flex;
    gap: 30px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul{
  display: flex;
  align-items:end;
  margin: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main div {
  padding: 20px;
  background-color: rgb(222, 222, 222);
  background-size: cover;
  height: 40vh;
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main div p{
  height: 60px;
  background-image: url(img/sea.jpeg);
  background-size: cover;
  width: 180px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-size: 17px;
  color: #aac0cbd8;
  
}
h1{
  color: #aac0cbd8;
  
}
main section h2{
  color: #aac0cbd8;
  padding: 20px;
  margin: 40px;
  width: 1000px;
  height: 30px;
  border-radius: 20px;
  background-color:  rgb(222, 222, 222);
  justify-content: center;
  align-items: center;
  text-align: center;
}

main form div{
  height: 40px;
  border-radius: 0px;
  background-color: inherit;

}


main form div input, main form textarea {
  width: 200px;
  height: 50px;
}

input, textarea {
  padding: 4px;
  width: 30px;
  height: 50px;
  border-radius: 10px;
}
